USE [master]
GO
/****** Object:  Database [MMTShop]    Script Date: 14/01/2021 09:57:31 ******/
CREATE DATABASE [MMTShop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MMTShop', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\MMTShop.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MMTShop_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\MMTShop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MMTShop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MMTShop]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 14/01/2021 09:57:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductCategory]    Script Date: 14/01/2021 09:57:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCategory](
	[Name] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_ProductCategory] PRIMARY KEY CLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 14/01/2021 09:57:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SKU] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Price] [float] NOT NULL,
	[Featured] [bit] NOT NULL,
	[CategoryName] [nvarchar](450) NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Products_CategoryName]    Script Date: 14/01/2021 09:57:31 ******/
CREATE NONCLUSTERED INDEX [IX_Products_CategoryName] ON [dbo].[Products]
(
	[CategoryName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_ProductCategory_CategoryName] FOREIGN KEY([CategoryName])
REFERENCES [dbo].[ProductCategory] ([Name])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_ProductCategory_CategoryName]
GO
/****** Object:  StoredProcedure [dbo].[GetCategories]    Script Date: 14/01/2021 09:57:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetCategories]   
    
AS   

    SET NOCOUNT ON;  
    SELECT [Name]  FROM ProductCategory 
GO
/****** Object:  StoredProcedure [dbo].[GetFeaturedProducts]    Script Date: 14/01/2021 09:57:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetFeaturedProducts]   
    @featured bit
AS   

    SET NOCOUNT ON;  
   SELECT [Id]
      ,[SKU]
      ,[Name]
      ,[Description]
      ,[Price]
      ,[Featured]
      ,[CategoryName]
  FROM [MMTShop].[dbo].[Products]
  WHERE [Featured]=@featured
GO
/****** Object:  StoredProcedure [dbo].[GetProductByCategoryId]    Script Date: 14/01/2021 09:57:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetProductByCategoryId]   
    @categoryName NVARCHAR(450)
AS   

    SET NOCOUNT ON;  
   SELECT [Id]
      ,[SKU]
      ,[Name]
      ,[Description]
      ,[Price]
      ,[Featured]
      ,[CategoryName]
  FROM [MMTShop].[dbo].[Products]
  WHERE [CategoryName]=@categoryName
GO
USE [master]
GO
